# Database Configurations
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=clan_budget
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# RabbitMQ Configurations
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
